@import "_variables.scss";

/* Aqui podemos encontrar grid para intentar acomodar el formulario,
no quedo como yo esperaba, espero poder acomodarlo para la proxima entrega. Mil disculpas*/
.formulario-contenedor {
  display: grid;
  grid-template-rows: 100px 100px 200px 200px 100px 100px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;

  .formulario-contacto {
    grid-row: 2 / 7;
    grid-column: 2 / 6;
    border: solid 0.05rem $gris;
    padding: 20px;
    border-radius: 10px;

    label {
      color: $blanco;
    }
  }
}
