@import "_variables.scss";
@import "_mixin.scss";

/* En los estilos del header podemos encontrar, color de fondo igual al del index */
header {
  background-color: $color-fondo;
  background-image: $gradiante-fondo;
  nav {
    /* Cambio de tamaño del logo, y un border*radius para que que sea circular */
    img {
      @include size(75px, 75px);
      border-radius: 50%;
    }
    /* Aqui encontramos una animacion para cada enlace, usando positio, y bloqueando el flex se pudo lograr el efecto.
    El before y el after los aprendi de un video de youtube */
    .navbar-nav {
      transform: translate(0%, 0%);

      .nav-item {
        list-style: none;

        .nav-link {
          position: relative;
          display: block;
          text-transform: uppercase;
          margin: 20px 0;
          padding: 10px 20px;
          text-decoration: none;
          color: $gris-oscuro;
          font-family: sans-serif;
          font-size: 18px;
          font-weight: 600;
          transition: 0.5s;
          z-index: 1;
          &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-top: 2px solid $gris-oscuro;
            border-bottom: 2px solid $gris-oscuro;
            transform: scaleY(2);
            opacity: 0;
            transition: 0.3s;
          }
          &:after {
            content: "";
            position: absolute;
            top: 2px;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: $gris-oscuro;
            transform: scale(0);
            opacity: 0;
            transition: 0.3s;
            z-index: -1;
          }
          &:hover {
            color: $offwhite;
            &:before {
              transform: scaleY(1);
              opacity: 1;
            }
            &:after {
              transform: scaleY(1);
              opacity: 1;
            }
          }
        }
      }
    }
  }
}
