@mixin size($ancho , $alto) {
    width: $ancho;
    height: $alto;
}

@mixin color-tamaño($color , $tamaño) { 
    color: $color;
    font-size: $tamaño;
}

@mixin bordes($bloque , $relleno , $padding) {
    display: $bloque;
    font-weight: $relleno;
    padding: $padding;
}

@mixin secciones-tienda($top , $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;

}

@mixin centrado($flex , $posittion) {
    display: $flex;
    align-items: $posittion;
}