
/* Mixin para cambios de tamaños */
@mixin size($ancho , $alto) {
    width: $ancho;
    height: $alto;
}

/* En este podremos cambiar color y tamaño de elementos*/
@mixin color-tamanio($color , $tamanio) { 
    color: $color;
    font-size: $tamanio;
}

/* Mixin para que los bordes sean tanto para elementos en bloque como en linea*/
@mixin bordes($bloque , $relleno , $padding) {
    display: $bloque;
    font-weight: $relleno;
    padding: $padding;
}

/* Este mixin sirve para centrar */
@mixin secciones-tienda($top , $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;

}

/* Aqui tambien lo use para centrar */
@mixin centrado($flex , $posittion) {
    display: $flex;
    align-items: $posittion;
}

/* Mixin para alineacion y tamaño*/
@mixin alineacion-tam ($alineacion , $tam) {
    text-align: $alineacion;
    font-size: $tam;
}

/* Mixin para color, peso y alineacon */
@mixin color-peso-al ($col , $peso , $al) {
    color: $col;
    font-weight: $peso;
    text-align: $al;
}