@import "_variables.scss";
@import "_mixin.scss";
@import "_extends.scss";

/* Aca se encuentra el responsive del html nosotros, el texto se centra al achicarse la pantalla */
@media (max-width: 767px) {
  .nosotros {
    text-align: center;
  }
}

/* Aca esta la animacion del h2 del html de nosotros*/
@keyframes texto_nosotros {
  0%, 10% {
    opacity: 0;
  }
  10%, 100% {
    color: $blanco;
    text-shadow: 0 0 12px lime, 0 0 50px lime, 0 0 100px lime;
  }
  10%, 90% {
    color: #111;
    text-shadow: none;
  }
}

@keyframes subtexto {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.nosotros-contenedor {
  
  h2 {

    animation-name: texto_nosotros; 
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-duration: 2s;
  }

  .nosotros-texto {

    animation-name: subtexto;
    animation-iteration-count: initial;
    animation-timing-function: ease-in;
    animation-duration: 2s;
  }
}
