@import "_variables.scss";
@import "_mixin.scss";
@import "_extends.scss";

.tienda-contenedor {
  .tienda-titulo {
    margin: 100px 30px 50px 30px;
    /* Aca encontramos el borde del titulo */
    .borde {
      @include bordes(inline, bold, 1rem);
      @extend %borde;
      color: $rojo;

      span {
        color: $negro;
      }
    }
  }
  .texto-tienda {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 50px;
  }

  /* Estos estilos son para los textos de cada seccion, con un hover, la idea era darle animacion tambien, pero no logre el efecto de movimiento */
  .borde-secciones {
    @include secciones-tienda(20px, 20px);
    &:hover {
      @extend %secciones;
    }
  }
}
