$color-fondo: #11115a;
$gradiante-fondo: linear-gradient(
    90deg,
    #11115a 0%,
    #6af2ff 55%,
    #11115a 100%
  );
$blanco: #f7f7f8;
$black: black;
$blue: rgb(60, 60, 190);
$gris: rgb(66, 66, 66);
$blanco: rgb(212, 206, 206);
$rojo: #b70e21;
$negro: #000;